page-sales {

    .sales-img{
        border:3px solid white ;
        box-shadow: 2px 2px 2px gainsboro;
        border-radius: 15% ;
        width: 70%;
        height: 60%;
    }
    .senior-img{
        border:3px solid white ;
        box-shadow: 2px 2px 2px gainsboro;
        border-radius: 15% ;
        width: 70%;
        height: 60%;
    }

    

    .general-img{
        border:3px solid white ;
        box-shadow: 2px 2px 2px gainsboro;
        border-radius: 15% ;
        width: 70%;
        height: 80%;
    } 

    ion-scroll[scrollX]{
        overflow-x: scroll !important;
        width: auto;
        white-space: nowrap;

        
      }
     
      SCROLL-CONTENT{
          overflow-y: auto !important;
      }
      
    }
