
<ion-content>
  
      <h1 padding><b><font size="6"> Sales</font></b></h1>
      <ion-item padding no-lines>
      <h6><b>TOP SALES</b> </h6>
      <ion-fab top right>
            <button ion-fab mini size (click)="addPage()"><ion-icon name="add"></ion-icon></button>
        </ion-fab>
      </ion-item>
      <ion-scroll scrollX="true" style="width:130vw; height:145px"  >
      <ion-row nowrap padding>
          <ion-col col-3 responsive-sm *ngFor="let user of users" (click)="pageProfile()"> 
            <img  class= "sales-img" [src]="user.imageURL" >
            <div>{{ user.name }}</div>
            <div>{{ user.cash }}</div>
            </ion-col>
          </ion-row>
  </ion-scroll>
  <button no-lines ion-item>
        <div item-end><font size="3">See more</font></div>
      </button>

      <div padding><b>SENIOR MANAGEMENT</b></div>
      <ion-scroll scrollX="true" style="width:130vw; height:145px">
        <ion-row nowrap padding>
            
          <ion-col col-3 responsive-sm *ngFor="let senior of seniors">
              <img class= "senior-img" [src]="senior.imageURL">
            <div>{{ senior.name }}</div>
            <div>{{ senior.jawatan }}</div>
          </ion-col>
      </ion-row>
      </ion-scroll>
     <ion-item no-lines>

     </ion-item>
    
      <div padding><b>GENERAL MANAGER</b></div>
            <ion-scroll scrollX="true" style="width:130vw; height:145px"  >
        <ion-row  nowrap padding>
            <ion-col col-3 responsive-sm *ngFor="let general of generals">
                <img class= "general-img"  [src]="general.imageURL">
              <div>{{ general.name }}</div>
            </ion-col>
        </ion-row>
        </ion-scroll>
        <button no-lines ion-item>
                <div item-end><font size="3">See more</font></div>
              </button>
        
    
</ion-content>
